# Auto detect text files and perform LF normalization
* text=auto
trained_model.keras filter=lfs diff=lfs merge=lfs -text
.gitattributes filter=lfs diff=lfs merge=lfs -text
retinal_non_retinal_classifier.keras filter=lfs diff=lfs merge=lfs -text
